:root {
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins light;
}

body {
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: Poppins light;
  src: url(./font/Poppins-Light.ttf);
}
@font-face {
  font-family: Poppins medium;
  src: url(./font/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins regular;
  src: url(./font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins thin;
  src: url(./font/Poppins-Thin.ttf);
}

@font-face {
  font-family: Open sans light;
  src: url(./font/OpenSans-Light.ttf);
}
@font-face {
  font-family: Open sans medium;
  src: url(./font/OpenSans-Medium.ttf);
}
@font-face {
  font-family: Open sans regular;
  src: url(./font/OpenSans-Regular.ttf);
}

@font-face {
  font-family: Roboto light;
  src: url(./font/Roboto-Light.ttf);
}
@font-face {
  font-family: Roboto medium;
  src: url(./font/Roboto-Medium.ttf);
}
@font-face {
  font-family: Roboto regular;
  src: url(./font/Roboto-Regular.ttf);
}
@font-face {
  font-family: Roboto thin;
  src: url(./font/Roboto-Thin.ttf);
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
